In [3]:
import pandas as pd
import numpy as np
import re

In [117]:
df2018 = pd.read_csv('FIFA-2018.csv')
df2022 = pd.read_csv('FIFA-2022.csv')

In [150]:
df2018.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32 entries, France to Panama
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Position 2018      32 non-null     int64
 1   Games Played 2018  32 non-null     int64
 2   Win 2018           32 non-null     int64
 3   Draw 2018          32 non-null     int64
 4   Loss 2018          32 non-null     int64
 5   Points 2018        32 non-null     int64
dtypes: int64(6)
memory usage: 2.8+ KB

In [119]:
df2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Position         32 non-null     int64
 1   Team             32 non-null     object
 2   Games Played     32 non-null     int64
 3   Win              32 non-null     int64
 4   Draw             32 non-null     int64
 5   Loss             32 non-null     int64
 6   Goals For        32 non-null     int64
 7   Goals Against    32 non-null     int64
 8   Goal Difference  32 non-null     int64
 9   Points           32 non-null     int64
dtypes: int64(9), object(1)
memory usage: 2.6+ KB

In [120]:
# Dropping Columns to make an easier comparison
df2018.drop(['Goals For', 'Goals Against', 'Goal Difference'], axis=1, inplace=True)
df2022.drop(['Goals For', 'Goals Against', 'Goal Difference'], axis=1, inplace=True)

In [121]:
# Change The Data Name
for columnName in df2018.iteritems():
    newColumnName = "".join(columnName[0]) + " 2018"
    df2018.rename(columns = {columnName[0] : newColumnName}, inplace = True)
for columnName in df2022.iteritems():
    newColumnName = "".join(columnName[0]) + " 2022"
    df2022.rename(columns = {columnName[0] : newColumnName}, inplace = True)
    
# Change Index
df2018.set_index('Team 2018', inplace=True)
df2022.set_index('Team 2022', inplace=True)

In [122]:
# Melt
df2018_view = pd.melt(df2018, id_vars=['Position 2018','Games Played 2018'], value_vars=['Points 2018'], var_name='Attribute', value_name='Value')
df2018_view

    Position 2018  Games Played 2018    Attribute  Value
0               1                  7  Points 2018     19
1               2                  7  Points 2018     14
2               3                  7  Points 2018     18
3               4                  7  Points 2018     10
4               5                  5  Points 2018     12
5               6                  5  Points 2018     10
6               7                  5  Points 2018      9
7               8                  5  Points 2018      8
8               9                  4  Points 2018      7
9              10                  4  Points 2018      6
10             11                  4  Points 2018      6
11             12                  4  Points 2018      6
12             13                  4  Points 2018      5
13             14                  4  Points 2018      5
14             15                  4  Points 2018      4
15             16                  4  Points 2018      4
16             17                  3  Points 2018      4
17             18                  3  Points 2018      4
18             19                  3  Points 2018      3
19             20                  3  Points 2018      3
20             21                  3  Points 2018      3
21             22                  3  Points 2018      3
22             23                  3  Points 2018      3
23             24                  3  Points 2018      3
24             25                  3  Points 2018      3
25             26                  3  Points 2018      3
26             27                  3  Points 2018      1
27             28                  3  Points 2018      1
28             29                  3  Points 2018      1
29             30                  3  Points 2018      1
30             31                  3  Points 2018      0
31             32                  3  Points 2018      0

In [123]:
# Pivot
df2018_pivot = df2018_view.pivot(index=['Position 2018','Games Played 2018'], columns='Attribute')
df2018_pivot = df2018_pivot['Value'].reset_index()
df2018_pivot.columns.name = None
df2018_pivot

    Position 2018  Games Played 2018  Points 2018
0               1                  7           19
1               2                  7           14
2               3                  7           18
3               4                  7           10
4               5                  5           12
5               6                  5           10
6               7                  5            9
7               8                  5            8
8               9                  4            7
9              10                  4            6
10             11                  4            6
11             12                  4            6
12             13                  4            5
13             14                  4            5
14             15                  4            4
15             16                  4            4
16             17                  3            4
17             18                  3            4
18             19                  3            3
19             20                  3            3
20             21                  3            3
21             22                  3            3
22             23                  3            3
23             24                  3            3
24             25                  3            3
25             26                  3            3
26             27                  3            1
27             28                  3            1
28             29                  3            1
29             30                  3            1
30             31                  3            0
31             32                  3            0

In [124]:
# Merge
df1822 = df2018.merge(df2022, left_index=True, right_index=True, how='outer')
df1822

,Position 2018,Games Played 2018,Win 2018,Draw 2018,Loss 2018,Points 2018,Position 2022,Games Played 2022,Win 2022,Draw 2022,Loss 2022,Points 2022
Argentina,15.0,4.0,1.0,1.0,2.0,4.0,1.0,7.0,6.0,0.0,1.0,18.0
Australia,27.0,3.0,0.0,1.0,2.0,1.0,11.0,4.0,2.0,0.0,2.0,6.0
Belgium,3.0,7.0,6.0,0.0,1.0,18.0,23.0,3.0,1.0,1.0,1.0,4.0
Brazil,6.0,5.0,3.0,1.0,1.0,10.0,8.0,5.0,3.0,0.0,2.0,9.0
Cameroon,NaN,NaN,NaN,NaN,NaN,NaN,19.0,3.0,1.0,1.0,1.0,4.0
Canada,NaN,NaN,NaN,NaN,NaN,NaN,31.0,3.0,0.0,0.0,3.0,0.0
Colombia,9.0,4.0,2.0,1.0,1.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN
Costa Rica,28.0,3.0,0.0,1.0,2.0,1.0,27.0,3.0,1.0,0.0,2.0,3.0
Croatia,2.0,7.0,4.0,2.0,1.0,14.0,3.0,7.0,4.0,2.0,1.0,14.0
Denmark,11.0,4.0,1.0,3.0,0.0,6.0,28.0,3.0,0.0,1.0,2.0,1.0
Ecuador,NaN,NaN,NaN,NaN,NaN,NaN,18.0,3.0,1.0,1.0,1.0,4.0
Egypt,31.0,3.0,0.0,0.0,3.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
England,4.0,7.0,3.0,1.0,3.0,10.0,5.0,5.0,3.0,1.0,1.0,10.0
France,1.0,7.0,6.0,1.0,0.0,19.0,2.0,7.0,5.0,0.0,2.0,15.0
Germany,19.0,3.0,1.0,0.0,2.0,3.0,17.0,3.0,1.0,1.0,1.0,4.0
Ghana,NaN,NaN,NaN,NaN,NaN,NaN,24.0,3.0,1.0,0.0,2.0,3.0
Iceland,29.0,3.0,0.0,1.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
Iran,17.0,3.0,1.0,1.0,1.0,4.0,26.0,3.0,1.0,0.0,2.0,3.0
Japan,16.0,4.0,1.0,1.0,2.0,4.0,9.0,4.0,2.0,0.0,2.0,6.0
Mexico,10.0,4.0,2.0,0.0,2.0,6.0,22.0,3.0,1.0,1.0,1.0,4.0
Morocco,30.0,3.0,0.0,1.0,2.0,1.0,4.0,7.0,4.0,1.0,2.0,13.0
Netherlands,NaN,NaN,NaN,NaN,NaN,NaN,6.0,5.0,3.0,1.0,1.0,10.0
Nigeria,20.0,3.0,1.0,0.0,2.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
Panama,32.0,3.0,0.0,0.0,3.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
Peru,21.0,3.0,1.0,0.0,2.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
Poland,22.0,3.0,1.0,0.0,2.0,3.0,15.0,4.0,1.0,1.0,2.0,4.0
Portugal,13.0,4.0,1.0,2.0,1.0,5.0,7.0,5.0,3.0,0.0,2.0,9.0
Qatar,NaN,NaN,NaN,NaN,NaN,NaN,32.0,3.0,0.0,0.0,3.0,0.0
Russia,8.0,5.0,2.0,2.0,1.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN
Saudi Arabia,23.0,3.0,1.0,0.0,2.0,3.0,25.0,3.0,1.0,0.0,2.0,3.0
Senegal,18.0,3.0,1.0,1.0,1.0,4.0,10.0,4.0,2.0,0.0,2.0,6.0
Serbia,24.0,3.0,1.0,0.0,2.0,3.0,29.0,3.0,0.0,1.0,2.0,1.0
South Korea,25.0,3.0,1.0,0.0,2.0,3.0,16.0,4.0,1.0,1.0,2.0,4.0
Spain,12.0,4.0,1.0,3.0,0.0,6.0,14.0,4.0,1.0,1.0,2.0,4.0
Sweden,7.0,5.0,3.0,0.0,2.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN
Switzerland,14.0,4.0,1.0,2.0,1.0,5.0,12.0,4.0,2.0,0.0,2.0,6.0
Tunisia,26.0,3.0,1.0,0.0,2.0,3.0,21.0,3.0,1.0,1.0,1.0,4.0
USA,NaN,NaN,NaN,NaN,NaN,NaN,13.0,4.0,1.0,2.0,1.0,5.0
Uruguay,5.0,5.0,4.0,0.0,1.0,12.0,20.0,3.0,1.0,1.0,1.0,4.0
Wales,NaN,NaN,NaN,NaN,NaN,NaN,30.0,3.0,0.0,1.0,2.0,1.0

In [125]:
def add_two(x):
    y = x + 2
    return y

# add two to everyone single element except NaN
test_df1822 = df1822.applymap(add_two, na_action='ignore')
test_df1822

,Position 2018,Games Played 2018,Win 2018,Draw 2018,Loss 2018,Points 2018,Position 2022,Games Played 2022,Win 2022,Draw 2022,Loss 2022,Points 2022
Argentina,17.0,6.0,3.0,3.0,4.0,6.0,3.0,9.0,8.0,2.0,3.0,20.0
Australia,29.0,5.0,2.0,3.0,4.0,3.0,13.0,6.0,4.0,2.0,4.0,8.0
Belgium,5.0,9.0,8.0,2.0,3.0,20.0,25.0,5.0,3.0,3.0,3.0,6.0
Brazil,8.0,7.0,5.0,3.0,3.0,12.0,10.0,7.0,5.0,2.0,4.0,11.0
Cameroon,NaN,NaN,NaN,NaN,NaN,NaN,21.0,5.0,3.0,3.0,3.0,6.0
Canada,NaN,NaN,NaN,NaN,NaN,NaN,33.0,5.0,2.0,2.0,5.0,2.0
Colombia,11.0,6.0,4.0,3.0,3.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN
Costa Rica,30.0,5.0,2.0,3.0,4.0,3.0,29.0,5.0,3.0,2.0,4.0,5.0
Croatia,4.0,9.0,6.0,4.0,3.0,16.0,5.0,9.0,6.0,4.0,3.0,16.0
Denmark,13.0,6.0,3.0,5.0,2.0,8.0,30.0,5.0,2.0,3.0,4.0,3.0
Ecuador,NaN,NaN,NaN,NaN,NaN,NaN,20.0,5.0,3.0,3.0,3.0,6.0
Egypt,33.0,5.0,2.0,2.0,5.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
England,6.0,9.0,5.0,3.0,5.0,12.0,7.0,7.0,5.0,3.0,3.0,12.0
France,3.0,9.0,8.0,3.0,2.0,21.0,4.0,9.0,7.0,2.0,4.0,17.0
Germany,21.0,5.0,3.0,2.0,4.0,5.0,19.0,5.0,3.0,3.0,3.0,6.0
Ghana,NaN,NaN,NaN,NaN,NaN,NaN,26.0,5.0,3.0,2.0,4.0,5.0
Iceland,31.0,5.0,2.0,3.0,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
Iran,19.0,5.0,3.0,3.0,3.0,6.0,28.0,5.0,3.0,2.0,4.0,5.0
Japan,18.0,6.0,3.0,3.0,4.0,6.0,11.0,6.0,4.0,2.0,4.0,8.0
Mexico,12.0,6.0,4.0,2.0,4.0,8.0,24.0,5.0,3.0,3.0,3.0,6.0
Morocco,32.0,5.0,2.0,3.0,4.0,3.0,6.0,9.0,6.0,3.0,4.0,15.0
Netherlands,NaN,NaN,NaN,NaN,NaN,NaN,8.0,7.0,5.0,3.0,3.0,12.0
Nigeria,22.0,5.0,3.0,2.0,4.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN
Panama,34.0,5.0,2.0,2.0,5.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
Peru,23.0,5.0,3.0,2.0,4.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN
Poland,24.0,5.0,3.0,2.0,4.0,5.0,17.0,6.0,3.0,3.0,4.0,6.0
Portugal,15.0,6.0,3.0,4.0,3.0,7.0,9.0,7.0,5.0,2.0,4.0,11.0
Qatar,NaN,NaN,NaN,NaN,NaN,NaN,34.0,5.0,2.0,2.0,5.0,2.0
Russia,10.0,7.0,4.0,4.0,3.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
Saudi Arabia,25.0,5.0,3.0,2.0,4.0,5.0,27.0,5.0,3.0,2.0,4.0,5.0
Senegal,20.0,5.0,3.0,3.0,3.0,6.0,12.0,6.0,4.0,2.0,4.0,8.0
Serbia,26.0,5.0,3.0,2.0,4.0,5.0,31.0,5.0,2.0,3.0,4.0,3.0
South Korea,27.0,5.0,3.0,2.0,4.0,5.0,18.0,6.0,3.0,3.0,4.0,6.0
Spain,14.0,6.0,3.0,5.0,2.0,8.0,16.0,6.0,3.0,3.0,4.0,6.0
Sweden,9.0,7.0,5.0,2.0,4.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN
Switzerland,16.0,6.0,3.0,4.0,3.0,7.0,14.0,6.0,4.0,2.0,4.0,8.0
Tunisia,28.0,5.0,3.0,2.0,4.0,5.0,23.0,5.0,3.0,3.0,3.0,6.0
USA,NaN,NaN,NaN,NaN,NaN,NaN,15.0,6.0,3.0,4.0,3.0,7.0
Uruguay,7.0,7.0,6.0,2.0,3.0,14.0,22.0,5.0,3.0,3.0,3.0,6.0
Wales,NaN,NaN,NaN,NaN,NaN,NaN,32.0,5.0,2.0,3.0,4.0,3.0

In [135]:
# Displays Position 2018 higher positions
df1822.query('`Position 2018` > `Position 2022`')

,Position 2018,Games Played 2018,Win 2018,Draw 2018,Loss 2018,Points 2018,Position 2022,Games Played 2022,Win 2022,Draw 2022,Loss 2022,Points 2022
Argentina,15.0,4.0,1.0,1.0,2.0,4.0,1.0,7.0,6.0,0.0,1.0,18.0
Australia,27.0,3.0,0.0,1.0,2.0,1.0,11.0,4.0,2.0,0.0,2.0,6.0
Costa Rica,28.0,3.0,0.0,1.0,2.0,1.0,27.0,3.0,1.0,0.0,2.0,3.0
Germany,19.0,3.0,1.0,0.0,2.0,3.0,17.0,3.0,1.0,1.0,1.0,4.0
Japan,16.0,4.0,1.0,1.0,2.0,4.0,9.0,4.0,2.0,0.0,2.0,6.0
Morocco,30.0,3.0,0.0,1.0,2.0,1.0,4.0,7.0,4.0,1.0,2.0,13.0
Poland,22.0,3.0,1.0,0.0,2.0,3.0,15.0,4.0,1.0,1.0,2.0,4.0
Portugal,13.0,4.0,1.0,2.0,1.0,5.0,7.0,5.0,3.0,0.0,2.0,9.0
Senegal,18.0,3.0,1.0,1.0,1.0,4.0,10.0,4.0,2.0,0.0,2.0,6.0
South Korea,25.0,3.0,1.0,0.0,2.0,3.0,16.0,4.0,1.0,1.0,2.0,4.0
Switzerland,14.0,4.0,1.0,2.0,1.0,5.0,12.0,4.0,2.0,0.0,2.0,6.0
Tunisia,26.0,3.0,1.0,0.0,2.0,3.0,21.0,3.0,1.0,1.0,1.0,4.0

In [140]:
df1822.groupby(['Position 2018', 'Position 2022']).mean()

,,Games Played 2018,Win 2018,Draw 2018,Loss 2018,Points 2018,Games Played 2022,Win 2022,Draw 2022,Loss 2022,Points 2022
Position 2018,Position 2022,,,,,,,,,,
1.0,2.0,7.0,6.0,1.0,0.0,19.0,7.0,5.0,0.0,2.0,15.0
2.0,3.0,7.0,4.0,2.0,1.0,14.0,7.0,4.0,2.0,1.0,14.0
3.0,23.0,7.0,6.0,0.0,1.0,18.0,3.0,1.0,1.0,1.0,4.0
4.0,5.0,7.0,3.0,1.0,3.0,10.0,5.0,3.0,1.0,1.0,10.0
5.0,20.0,5.0,4.0,0.0,1.0,12.0,3.0,1.0,1.0,1.0,4.0
6.0,8.0,5.0,3.0,1.0,1.0,10.0,5.0,3.0,0.0,2.0,9.0
10.0,22.0,4.0,2.0,0.0,2.0,6.0,3.0,1.0,1.0,1.0,4.0
11.0,28.0,4.0,1.0,3.0,0.0,6.0,3.0,0.0,1.0,2.0,1.0
12.0,14.0,4.0,1.0,3.0,0.0,6.0,4.0,1.0,1.0,2.0,4.0
13.0,7.0,4.0,1.0,2.0,1.0,5.0,5.0,3.0,0.0,2.0,9.0
14.0,12.0,4.0,1.0,2.0,1.0,5.0,4.0,2.0,0.0,2.0,6.0
15.0,1.0,4.0,1.0,1.0,2.0,4.0,7.0,6.0,0.0,1.0,18.0
16.0,9.0,4.0,1.0,1.0,2.0,4.0,4.0,2.0,0.0,2.0,6.0
17.0,26.0,3.0,1.0,1.0,1.0,4.0,3.0,1.0,0.0,2.0,3.0
18.0,10.0,3.0,1.0,1.0,1.0,4.0,4.0,2.0,0.0,2.0,6.0
19.0,17.0,3.0,1.0,0.0,2.0,3.0,3.0,1.0,1.0,1.0,4.0
22.0,15.0,3.0,1.0,0.0,2.0,3.0,4.0,1.0,1.0,2.0,4.0
23.0,25.0,3.0,1.0,0.0,2.0,3.0,3.0,1.0,0.0,2.0,3.0
24.0,29.0,3.0,1.0,0.0,2.0,3.0,3.0,0.0,1.0,2.0,1.0
25.0,16.0,3.0,1.0,0.0,2.0,3.0,4.0,1.0,1.0,2.0,4.0
26.0,21.0,3.0,1.0,0.0,2.0,3.0,3.0,1.0,1.0,1.0,4.0
27.0,11.0,3.0,0.0,1.0,2.0,1.0,4.0,2.0,0.0,2.0,6.0
28.0,27.0,3.0,0.0,1.0,2.0,1.0,3.0,1.0,0.0,2.0,3.0
30.0,4.0,3.0,0.0,1.0,2.0,1.0,7.0,4.0,1.0,2.0,13.0

In [141]:
df1822.aggregate(['sum', 'min'])

,Position 2018,Games Played 2018,Win 2018,Draw 2018,Loss 2018,Points 2018,Position 2022,Games Played 2022,Win 2022,Draw 2022,Loss 2022,Points 2022
sum,528.0,128.0,51.0,26.0,51.0,179.0,528.0,128.0,54.0,20.0,54.0,182.0
min,1.0,3.0,0.0,0.0,0.0,0.0,1.0,3.0,0.0,0.0,1.0,0.0

In [143]:
df1822.dropna()

,Position 2018,Games Played 2018,Win 2018,Draw 2018,Loss 2018,Points 2018,Position 2022,Games Played 2022,Win 2022,Draw 2022,Loss 2022,Points 2022
Argentina,15.0,4.0,1.0,1.0,2.0,4.0,1.0,7.0,6.0,0.0,1.0,18.0
Australia,27.0,3.0,0.0,1.0,2.0,1.0,11.0,4.0,2.0,0.0,2.0,6.0
Belgium,3.0,7.0,6.0,0.0,1.0,18.0,23.0,3.0,1.0,1.0,1.0,4.0
Brazil,6.0,5.0,3.0,1.0,1.0,10.0,8.0,5.0,3.0,0.0,2.0,9.0
Costa Rica,28.0,3.0,0.0,1.0,2.0,1.0,27.0,3.0,1.0,0.0,2.0,3.0
Croatia,2.0,7.0,4.0,2.0,1.0,14.0,3.0,7.0,4.0,2.0,1.0,14.0
Denmark,11.0,4.0,1.0,3.0,0.0,6.0,28.0,3.0,0.0,1.0,2.0,1.0
England,4.0,7.0,3.0,1.0,3.0,10.0,5.0,5.0,3.0,1.0,1.0,10.0
France,1.0,7.0,6.0,1.0,0.0,19.0,2.0,7.0,5.0,0.0,2.0,15.0
Germany,19.0,3.0,1.0,0.0,2.0,3.0,17.0,3.0,1.0,1.0,1.0,4.0
Iran,17.0,3.0,1.0,1.0,1.0,4.0,26.0,3.0,1.0,0.0,2.0,3.0
Japan,16.0,4.0,1.0,1.0,2.0,4.0,9.0,4.0,2.0,0.0,2.0,6.0
Mexico,10.0,4.0,2.0,0.0,2.0,6.0,22.0,3.0,1.0,1.0,1.0,4.0
Morocco,30.0,3.0,0.0,1.0,2.0,1.0,4.0,7.0,4.0,1.0,2.0,13.0
Poland,22.0,3.0,1.0,0.0,2.0,3.0,15.0,4.0,1.0,1.0,2.0,4.0
Portugal,13.0,4.0,1.0,2.0,1.0,5.0,7.0,5.0,3.0,0.0,2.0,9.0
Saudi Arabia,23.0,3.0,1.0,0.0,2.0,3.0,25.0,3.0,1.0,0.0,2.0,3.0
Senegal,18.0,3.0,1.0,1.0,1.0,4.0,10.0,4.0,2.0,0.0,2.0,6.0
Serbia,24.0,3.0,1.0,0.0,2.0,3.0,29.0,3.0,0.0,1.0,2.0,1.0
South Korea,25.0,3.0,1.0,0.0,2.0,3.0,16.0,4.0,1.0,1.0,2.0,4.0
Spain,12.0,4.0,1.0,3.0,0.0,6.0,14.0,4.0,1.0,1.0,2.0,4.0
Switzerland,14.0,4.0,1.0,2.0,1.0,5.0,12.0,4.0,2.0,0.0,2.0,6.0
Tunisia,26.0,3.0,1.0,0.0,2.0,3.0,21.0,3.0,1.0,1.0,1.0,4.0
Uruguay,5.0,5.0,4.0,0.0,1.0,12.0,20.0,3.0,1.0,1.0,1.0,4.0

In [144]:
df1822.fillna(0)

,Position 2018,Games Played 2018,Win 2018,Draw 2018,Loss 2018,Points 2018,Position 2022,Games Played 2022,Win 2022,Draw 2022,Loss 2022,Points 2022
Argentina,15.0,4.0,1.0,1.0,2.0,4.0,1.0,7.0,6.0,0.0,1.0,18.0
Australia,27.0,3.0,0.0,1.0,2.0,1.0,11.0,4.0,2.0,0.0,2.0,6.0
Belgium,3.0,7.0,6.0,0.0,1.0,18.0,23.0,3.0,1.0,1.0,1.0,4.0
Brazil,6.0,5.0,3.0,1.0,1.0,10.0,8.0,5.0,3.0,0.0,2.0,9.0
Cameroon,0.0,0.0,0.0,0.0,0.0,0.0,19.0,3.0,1.0,1.0,1.0,4.0
Canada,0.0,0.0,0.0,0.0,0.0,0.0,31.0,3.0,0.0,0.0,3.0,0.0
Colombia,9.0,4.0,2.0,1.0,1.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0
Costa Rica,28.0,3.0,0.0,1.0,2.0,1.0,27.0,3.0,1.0,0.0,2.0,3.0
Croatia,2.0,7.0,4.0,2.0,1.0,14.0,3.0,7.0,4.0,2.0,1.0,14.0
Denmark,11.0,4.0,1.0,3.0,0.0,6.0,28.0,3.0,0.0,1.0,2.0,1.0
Ecuador,0.0,0.0,0.0,0.0,0.0,0.0,18.0,3.0,1.0,1.0,1.0,4.0
Egypt,31.0,3.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
England,4.0,7.0,3.0,1.0,3.0,10.0,5.0,5.0,3.0,1.0,1.0,10.0
France,1.0,7.0,6.0,1.0,0.0,19.0,2.0,7.0,5.0,0.0,2.0,15.0
Germany,19.0,3.0,1.0,0.0,2.0,3.0,17.0,3.0,1.0,1.0,1.0,4.0
Ghana,0.0,0.0,0.0,0.0,0.0,0.0,24.0,3.0,1.0,0.0,2.0,3.0
Iceland,29.0,3.0,0.0,1.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
Iran,17.0,3.0,1.0,1.0,1.0,4.0,26.0,3.0,1.0,0.0,2.0,3.0
Japan,16.0,4.0,1.0,1.0,2.0,4.0,9.0,4.0,2.0,0.0,2.0,6.0
Mexico,10.0,4.0,2.0,0.0,2.0,6.0,22.0,3.0,1.0,1.0,1.0,4.0
Morocco,30.0,3.0,0.0,1.0,2.0,1.0,4.0,7.0,4.0,1.0,2.0,13.0
Netherlands,0.0,0.0,0.0,0.0,0.0,0.0,6.0,5.0,3.0,1.0,1.0,10.0
Nigeria,20.0,3.0,1.0,0.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
Panama,32.0,3.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Peru,21.0,3.0,1.0,0.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
Poland,22.0,3.0,1.0,0.0,2.0,3.0,15.0,4.0,1.0,1.0,2.0,4.0
Portugal,13.0,4.0,1.0,2.0,1.0,5.0,7.0,5.0,3.0,0.0,2.0,9.0
Qatar,0.0,0.0,0.0,0.0,0.0,0.0,32.0,3.0,0.0,0.0,3.0,0.0
Russia,8.0,5.0,2.0,2.0,1.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0
Saudi Arabia,23.0,3.0,1.0,0.0,2.0,3.0,25.0,3.0,1.0,0.0,2.0,3.0
Senegal,18.0,3.0,1.0,1.0,1.0,4.0,10.0,4.0,2.0,0.0,2.0,6.0
Serbia,24.0,3.0,1.0,0.0,2.0,3.0,29.0,3.0,0.0,1.0,2.0,1.0
South Korea,25.0,3.0,1.0,0.0,2.0,3.0,16.0,4.0,1.0,1.0,2.0,4.0
Spain,12.0,4.0,1.0,3.0,0.0,6.0,14.0,4.0,1.0,1.0,2.0,4.0
Sweden,7.0,5.0,3.0,0.0,2.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0
Switzerland,14.0,4.0,1.0,2.0,1.0,5.0,12.0,4.0,2.0,0.0,2.0,6.0
Tunisia,26.0,3.0,1.0,0.0,2.0,3.0,21.0,3.0,1.0,1.0,1.0,4.0
USA,0.0,0.0,0.0,0.0,0.0,0.0,13.0,4.0,1.0,2.0,1.0,5.0
Uruguay,5.0,5.0,4.0,0.0,1.0,12.0,20.0,3.0,1.0,1.0,1.0,4.0
Wales,0.0,0.0,0.0,0.0,0.0,0.0,30.0,3.0,0.0,1.0,2.0,1.0

In [157]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values = np.nan, strategy ='mean')

imputer = imputer.fit(df1822)  
df1822_update = pd.DataFrame(imputer.fit_transform(df1822))
df1822_update

,0,1,2,3,4,5,6,7,8,9,10,11
0,15.0,4.0,1.00000,1.0000,2.00000,4.00000,1.0,7.0,6.0000,0.000,1.0000,18.0000
1,27.0,3.0,0.00000,1.0000,2.00000,1.00000,11.0,4.0,2.0000,0.000,2.0000,6.0000
2,3.0,7.0,6.00000,0.0000,1.00000,18.00000,23.0,3.0,1.0000,1.000,1.0000,4.0000
3,6.0,5.0,3.00000,1.0000,1.00000,10.00000,8.0,5.0,3.0000,0.000,2.0000,9.0000
4,16.5,4.0,1.59375,0.8125,1.59375,5.59375,19.0,3.0,1.0000,1.000,1.0000,4.0000
5,16.5,4.0,1.59375,0.8125,1.59375,5.59375,31.0,3.0,0.0000,0.000,3.0000,0.0000
6,9.0,4.0,2.00000,1.0000,1.00000,7.00000,16.5,4.0,1.6875,0.625,1.6875,5.6875
7,28.0,3.0,0.00000,1.0000,2.00000,1.00000,27.0,3.0,1.0000,0.000,2.0000,3.0000
8,2.0,7.0,4.00000,2.0000,1.00000,14.00000,3.0,7.0,4.0000,2.000,1.0000,14.0000
9,11.0,4.0,1.00000,3.0000,0.00000,6.00000,28.0,3.0,0.0000,1.000,2.0000,1.0000
10,16.5,4.0,1.59375,0.8125,1.59375,5.59375,18.0,3.0,1.0000,1.000,1.0000,4.0000
11,31.0,3.0,0.00000,0.0000,3.00000,0.00000,16.5,4.0,1.6875,0.625,1.6875,5.6875
12,4.0,7.0,3.00000,1.0000,3.00000,10.00000,5.0,5.0,3.0000,1.000,1.0000,10.0000
13,1.0,7.0,6.00000,1.0000,0.00000,19.00000,2.0,7.0,5.0000,0.000,2.0000,15.0000
14,19.0,3.0,1.00000,0.0000,2.00000,3.00000,17.0,3.0,1.0000,1.000,1.0000,4.0000
15,16.5,4.0,1.59375,0.8125,1.59375,5.59375,24.0,3.0,1.0000,0.000,2.0000,3.0000
16,29.0,3.0,0.00000,1.0000,2.00000,1.00000,16.5,4.0,1.6875,0.625,1.6875,5.6875
17,17.0,3.0,1.00000,1.0000,1.00000,4.00000,26.0,3.0,1.0000,0.000,2.0000,3.0000
18,16.0,4.0,1.00000,1.0000,2.00000,4.00000,9.0,4.0,2.0000,0.000,2.0000,6.0000
19,10.0,4.0,2.00000,0.0000,2.00000,6.00000,22.0,3.0,1.0000,1.000,1.0000,4.0000
20,30.0,3.0,0.00000,1.0000,2.00000,1.00000,4.0,7.0,4.0000,1.000,2.0000,13.0000
21,16.5,4.0,1.59375,0.8125,1.59375,5.59375,6.0,5.0,3.0000,1.000,1.0000,10.0000
22,20.0,3.0,1.00000,0.0000,2.00000,3.00000,16.5,4.0,1.6875,0.625,1.6875,5.6875
23,32.0,3.0,0.00000,0.0000,3.00000,0.00000,16.5,4.0,1.6875,0.625,1.6875,5.6875
24,21.0,3.0,1.00000,0.0000,2.00000,3.00000,16.5,4.0,1.6875,0.625,1.6875,5.6875
25,22.0,3.0,1.00000,0.0000,2.00000,3.00000,15.0,4.0,1.0000,1.000,2.0000,4.0000
26,13.0,4.0,1.00000,2.0000,1.00000,5.00000,7.0,5.0,3.0000,0.000,2.0000,9.0000
27,16.5,4.0,1.59375,0.8125,1.59375,5.59375,32.0,3.0,0.0000,0.000,3.0000,0.0000
28,8.0,5.0,2.00000,2.0000,1.00000,8.00000,16.5,4.0,1.6875,0.625,1.6875,5.6875
29,23.0,3.0,1.00000,0.0000,2.00000,3.00000,25.0,3.0,1.0000,0.000,2.0000,3.0000
30,18.0,3.0,1.00000,1.0000,1.00000,4.00000,10.0,4.0,2.0000,0.000,2.0000,6.0000
31,24.0,3.0,1.00000,0.0000,2.00000,3.00000,29.0,3.0,0.0000,1.000,2.0000,1.0000
32,25.0,3.0,1.00000,0.0000,2.00000,3.00000,16.0,4.0,1.0000,1.000,2.0000,4.0000
33,12.0,4.0,1.00000,3.0000,0.00000,6.00000,14.0,4.0,1.0000,1.000,2.0000,4.0000
34,7.0,5.0,3.00000,0.0000,2.00000,9.00000,16.5,4.0,1.6875,0.625,1.6875,5.6875
35,14.0,4.0,1.00000,2.0000,1.00000,5.00000,12.0,4.0,2.0000,0.000,2.0000,6.0000
36,26.0,3.0,1.00000,0.0000,2.00000,3.00000,21.0,3.0,1.0000,1.000,1.0000,4.0000
37,16.5,4.0,1.59375,0.8125,1.59375,5.59375,13.0,4.0,1.0000,2.000,1.0000,5.0000
38,5.0,5.0,4.00000,0.0000,1.00000,12.00000,20.0,3.0,1.0000,1.000,1.0000,4.0000
39,16.5,4.0,1.59375,0.8125,1.59375,5.59375,30.0,3.0,0.0000,1.000,2.0000,1.0000

In [35]:
import requests
from io import StringIO
url = 'https://raw.githubusercontent.com/nnqomariyah/Fundamentals_of_Data_Science/main/week_3/data/movies_metadata.csv'
response = requests.get(url)
data = StringIO(response.text)
df_movie_unclean = pd.read_csv(data)

df_movie_unclean

C:\Users\micha\AppData\Local\Temp\ipykernel_9140\1191711901.py:6: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_movie_unclean = pd.read_csv(data)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': ''}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [5]:
df_movie_unclean

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': ''}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [36]:
# Clean Collection
for collection in range(len(df_movie_unclean['belongs_to_collection'])):
    text = df_movie_unclean._get_value(collection,'belongs_to_collection')
    saved = text
    if type(text) == str:
        text = re.sub('id|name|poster_path|backdrop_path|\'|\"|\:|,|\"|\}|\{|[0-9]', '', text)
        true_text = ""
        for t in text.split():
            r = t
            r = re.sub('^/.*jpg$', '', r)
            true_text = true_text + " " + r
        df_movie_unclean['belongs_to_collection'] = df_movie_unclean['belongs_to_collection'].replace([saved], true_text)

In [37]:
# Clean Genres
for genre in range(len(df_movie_unclean['genres'])):
    text2 = df_movie_unclean._get_value(genre,'genres')
    saved2 = text2
    text2 = re.sub('id|name|\'|\"|\:|,|\"|\}|\{|\]|\[|[0-9]', '', text2)
    true_text2 = ""
    for t2 in text2.split():
        true_text2 = true_text2 + ", " + t2
    df_movie_unclean['genres'] = df_movie_unclean['genres'].replace([saved2], true_text2)

In [40]:
# Clean Spoken Languange
for lang in range(len(df_movie_unclean['spoken_languages'])):
    text3 = df_movie_unclean._get_value(lang,'spoken_languages')
    saved3 = text3
    if type(text3) == str:
        text3 = re.sub('iso_639_1|name|\'|\"|\:|,|\"|\}|\{|\]|\[|[0-9]', '', text3)
        true_text3 = ""
        for t3 in text3.split():
            r3 = t3
            r3 = re.sub('^..$', '', r3)
            true_text3 = true_text3 + ", " + r3
        df_movie_unclean['spoken_languages'] = df_movie_unclean['spoken_languages'].replace([saved3], true_text3)

In [41]:
df_movie_unclean

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,Toy Story Collection,30000000,", Animation, Comedy, Family",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,", English",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,", Adventure, Fantasy, Family",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,", English, Franais",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,Grumpy Old Men Collection,0,", Romance, Comedy",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,", English",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,", Comedy, Drama, Romance",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,", English",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,Father of the Bre Collection,0,", Comedy",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,", English",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,", Drama, Family",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,,Rising and falling between a man and woman.,...,NaN,0.0,90.0,",",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,", Drama",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,,Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,", Action, Drama, Thriller",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,", English",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,,NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,,Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,,NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,", English",Released,NaN,Queerama,False,0.0,0.0